body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
}

body {
    background-color: red;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.pure-g {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.vis-container {
    width: 80vw; /* Adjust as per your requirement */
    height: 60vh; /* Adjust as per your requirement */
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.small-font {
    font-size: 14px;
}
